<#-- @ftlvariable name="serp" type="com.serphacker.serposcope.models.google.GoogleSerp" -->
<#import "../google/google.ftl.html" as layout>
<@layout.googleLayout report.getName() >
    <h2>${report.getName()}</h2>
    <div id="${report.getName()}-iframe-container"></div>
    <#assign options=report.getIframeAttributes()>
    <#noescape>
    <script>
        var loadIframe = function(attrs) {
            var container = document.getElementById('${report.getName()}-iframe-container');
            var iframe = document.createElement('iframe');
            for (var attr in attrs) {
                if (!attrs.hasOwnProperty(attr)) {
                    continue;
                }
                iframe.setAttribute(attr, attrs[attr]);
            }
            var originalHeight = iframe.height;
            var originalWidth = iframe.width;
            // We must enforce this
            // iframe.width = '100%';
            var style = iframe.style;

            style.width = '100%';

            iframe.width = undefined;
            iframe.height = undefined;

            var currentWidth = 0;
            var update = function() {
                var rectangle = iframe.getBoundingClientRect();
                if (currentWidth !== rectangle.width) {
                    currentWidth = rectangle.width;
                    style.height = currentWidth * (originalHeight / originalWidth) + 'px';
                }
                setTimeout(update, 1000);
            };
            setTimeout(update, 0);
            container.appendChild(iframe);
        };
        loadIframe(${options});
    </script>
    </#noescape>
    <div id="csp-vars" data-group-id="${report.getGroupId()}"></div>
</@>

