* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.summary-header {
    display: flex;
    align-items: flex-start;
}

.summary-header .box-title {
    flex: 1;
    min-width: 0;
    width: auto;
}

.search-options {
    display: block;
    text-align: center;
    width: 22px;
    margin: 0 auto;
}

.search-options a {
    display: inline-block;
    vertical-align: middle;

    width: 22px;
    line-height: 25px;
    height: 22px;

    box-sizing: border-box;
}

.search-options a.edit {
    cursor: pointer;
}

.search-options a.refresh {
    color: #00aa00;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(359deg);
    }
}

.simple-spinner {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: 12px;
    width: 16px;
    height: 16px;
    box-sizing: content-box;
}

.simple-spinner::before {
    content: '';
    position: absolute;

    width: 16px;
    height: 16px;
    top: 0;
    left: 0;

    animation: spin 1s linear infinite;
    border: 3px solid #ddd;
    border-top-color: dodgerblue;
    border-radius: 8px;
}

a.inactive {
    color: #808080;
    text-decoration: none;
    cursor: not-allowed;
}

.green {
    color: #00aa00;
}

label.compact {
    padding: 0;
    font-weight: normal;
    margin: 0;
}

.slick-cell input {
    background-color: white;
}

.slick-cell input.inline {
    padding: 0 4px;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
}

.slick-cell input.numeric {
    text-align: right;
}

.slick-cell input.inline:focus {
    border-color: dodgerblue;
}

.slick-cell input.inline.fake-no-focus:focus {
    border-color: transparent;
}

#google-target-table-container {
    border: 1px solid lightgrey;
}

#google-target-table-container .slick-header,
#group-searches-grid .slick-header {
    border-color: rgba(255, 255, 255, 0.075);
}

#google-target-table-container .slick-header .slick-header-column,
#group-searches-grid .slick-header .slick-header-column {
    background-color: #0e4776;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 2em;
    height: 2em;
    border-color: rgba(255, 255, 255, 0.075);
    color: white;
}

#google-target-table-container .slick-cell div {
    padding: 0 5px;
    line-height: 25px;
    height: 25px;
    margin: -1px 0 0 -1px;
}

#google-target-table-container .slick-header .slick-header-column span,
#group-searches-grid .slick-header .slick-header-column span {
    font-weight: bold;
}

#google-target-table-container .slick-header .slick-header-column .slick-sort-indicator,
#group-searches-grid .slick-header .slick-header-column .slick-sort-indicator {
    display: inline-block;
    visibility: visible;
}

#google-target-table-container .slick-header .slick-header-column .slick-column-name i.fa.fa-trophy {
    color: gold;
}

#google-target-table-container .ui-widget-content.slick-row.even.sub-header .slick-cell {
    background-color: #0d4070;
    color: white;
    text-transform: uppercase;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#google-target-table-container .ui-widget-content.slick-row.even:first-child .slick-cell.l1.r1 div {
    font-weight: 600;
    font-size: 12px;
}

.slick-sort-indicator {
    line-height: 2em;
    height: 2em;
    margin: 0 0 0 4px;
}

.slick-sort-indicator::after {
    content: '\f0dc';
    font-style: normal;
    font-family: 'Font Awesome 5 Free', sans-serif;
}

.slick-sort-indicator-desc,
.slick-sort-indicator-asc {
    background: none;
}

.slick-sort-indicator-desc::after {
    content: '\f0dd';
}

.slick-sort-indicator-asc::after {
    content: '\f0de';
}

.btn:not(.toolbar), .btn:not(.toolbar) span {
    border: none;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.btn.toolbar {
    border-radius: 0px;
}

.btn-primary {
    background-color: #0e4776;
}

.btn-danger {
    background-color: crimson;
}

.btn-default {
    color: #666;
}

.search-filter {
    padding: 8px;
    background-color: white;
    margin: 0 0 8px 0;
}

input:not(#daterange).form-control,
select.form-control {
    background-color: #f1f1f1;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0 10px;
    box-shadow: none;
}

input:not(#daterange).form-control:focus,
select.form-control:focus {
    box-shadow: none;
}

input:not(#daterange).form-control.number {
    text-align: right;
}

.nav.nav-tabs li a {
    padding: 8px 15px;
    border-radius: 0;
    font-size: 13px;
}

#page-wrapper {
    border: none;
    background-color: #efefef;
}

.tab-content {
    border-radius: 0;
    box-shadow: 0 8px 20px -18px black;
}

.home {
    padding: 0 16px 16px 16px;
}

.home-head-panel .panel-item,
.home-head-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-head-panel .panel-item {
    padding: 16px 0;
}

.home-head-panel .panel-item.home-task-summary .title {
    margin: 0 8px 0 0;
}

.home-head-panel .panel-item.home-task-summary .title,
.home-head-panel .panel-item.home-task-summary .home-task-label {
    display: flex;
    align-items: center;
}

.home-head-panel .panel-item.home-task-summary .home-task-label .task-badge {
    margin: 0 1px;
}

.home-head-panel .panel-item .links-tab {
    padding: 0 24px;
    display: block;
}

.navbar-default.sidebar-nav {
    position: absolute;
    left: 0;
    width: 250px;
    top: 50px;
    bottom: 0;
    background-color: #222d32;
    padding: 0;
    overflow-x: visible;
}

@media only screen and (max-width: 778px) {
    table {
        display: none;
    }

    .hb-body table {
        display: table;
        width: 100%;
    }

    .responsive-table {
    }

    .responsive-table .is-table-row {
        margin: 0 0 16px 0;
    }

    .responsive-table .is-table-row .is-table-entry {
        border: 1px solid lightgrey;
        margin: 0 0 -1px 0;
    }

    .responsive-table .is-table-row .is-table-entry .is-table-value,
    .responsive-table .is-table-row .is-table-entry .is-table-header {
        padding: 4px 8px;
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    .responsive-table .is-table-row .is-table-entry .is-table-header {
        width: 35%;
    }

    .responsive-table .is-table-row .is-table-entry .is-table-value {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 65%;
    }

    .responsive-table .is-table-row .is-table-entry .is-table-header i.fa {
        display: none;
    }

    .responsive-table .is-table-row .is-table-entry .is-table-value .target-name {
        display: block;
    }

    .responsive-table .is-table-row .is-table-entry .is-table-value a:not(.target-name) {
        display: inline-block;
        margin: 8px 16px 8px 0;
    }

    .responsive-table .is-table-row .is-table-entry .is-table-value .progress {
        margin: 4px 0;
    }

    .responsive-table .is-table-row .is-table-entry .is-table-header {
        color: #666;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
    }

    .tab-content {
        overflow: hidden;
        border-top: 1px solid lightgrey;
    }

    .tab-container .nav.nav-tabs,
    .tab-container button {
        display: inline-block;
        vertical-align: bottom;
        width: 22px;
        position: relative;
    }

    .tab-container {
        overflow: hidden;
        position: relative;
        margin: 8px 0 -2px 0;
    }

    .tab-container button {
        margin: 8px 0;
        font-size: 13px;
        border: none;
        z-index: 2;
        background: #efefef;
    }

    .tab-container button:disabled {
        visibility: hidden;
    }

    .nav.nav-tabs {
        white-space: nowrap;
        margin: 8px 0 -2px 0;
        overflow: hidden;
        font-size: 0;
    }

    .tab-container .nav.nav-tabs {
        width: 100%;
        margin: 0 0 0 -44px;
        padding-left: 44px;
        z-index: 1;
        transition: all 0.25s;
        border: none;
    }

    .search-filter {
        text-align: right;
    }

    .search-filter .activator {
        cursor: pointer;
        margin: 0 0 10px 0;
    }

    .search-filter.collapsed .activator {
        margin: 0;
    }

    .search-filter.collapsed .activator::before {
        transform: rotate(270deg);
    }

    .search-filter .activator::before {
        display: inline-block;
        font-family: 'Font Awesome 5 Free', sans-serif;
        content: '\f078';
        transition: transform 0.25s;
        margin: 0 8px 0 4px;
        transform: rotate(360deg);
    }

    .search-filter i {
        font-size: 10px;
        margin: 0 8px 0 0;
    }

    .search-filter.collapsed input,
    .search-filter.collapsed button,
    .search-filter.collapsed select {
        display: none;
    }

    .search-filter .activator {
        text-align: left;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .search-filter .activator i {
    }

    .search-filter input,
    .search-filter select {
        text-align: initial;
        display: block;
        width: 100%;
        margin: 8px 0;
    }

    .nav.nav-tabs li {
        display: inline-block;
        float: none;
        border: none;
        margin: 0;
    }

    .navbar.navbar-default.navbar-static-top {
    }

    .navbar-default.sidebar-nav {
        top: 100px;
        bottom: 0;
        left: -100%;
        z-index: 2147483648;
        transition: left 0.25s;
    }

    .navbar-default .navbar-toggle {
        display: none;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }

    .navbar-default.sidebar-nav.collapse.in {
        overflow: visible;
        left: 0;
    }

    .navbar-default.sidebar-nav.collapsing {
        transition: none;
    }

    .navbar.navbar-default.navbar-static-top .navbar-header .navbar-brand {
        display: inline-block;
        width: auto;
        padding: 12px;
    }

    .navbar.navbar-default.navbar-static-top .navbar-header .responsive-logout {
        float: right;
        margin: 0 12px 0 0;
    }

    .navbar.navbar-default.navbar-static-top .navbar-header .responsive-logout li {
        list-style: none;
        display: inline-block;
        line-height: 50px;
        width: 30px;
        text-align: center;
    }

    .navbar.navbar-default.navbar-static-top .navbar-header .responsive-logout li a {
        color: white;
    }

    .navbar.navbar-default.navbar-static-top ul.nav.navbar-top-links.navbar-left:not(.admin) {
        display: none;
    }

    .navbar.navbar-default.navbar-static-top ul.nav.navbar-top-links.navbar-left {
        font-size: 0;
        padding: 0;
    }

    .navbar.navbar-default.navbar-static-top ul.nav.navbar-top-links.navbar-left li {
        width: 50%;
        font-size: 14px;
        margin: 0;
        text-align: center;
        border-bottom: 5px solid transparent;
    }

    .navbar.navbar-default.navbar-static-top ul.nav.navbar-top-links.navbar-left li.active-path {
        border-color: white;
    }

    .navbar.navbar-default.navbar-static-top ul.nav.navbar-top-links.navbar-left li:nth-child(n + 3) {
        display: none;
    }

    #page-wrapper {
        z-index: 1;
        padding: 0 4px;
    }

    #page-wrapper .container-fluid .home {
        padding: 8px;
    }

    #page-wrapper .container-fluid .home .home-head-panel {
        flex-direction: column;
        align-items: flex-start;
    }

    #page-wrapper .container-fluid .home .home-head-panel .panel-item .links-tab {
        padding: 0 16px 0 0;
    }

    #page-wrapper .container-fluid .home .home-head-panel .free-space {
        padding: 0 0 8px 0;
        margin: 0 0 8px 0;
        border-bottom: 1px solid lightgrey;
        width: 100%;
    }

    #page-wrapper .container-fluid .home .home-head-panel .panel-item {
        padding: 4px 0;
        width: 100%;
    }

    #page-wrapper .container-fluid .home .box.box-primary .box-header {
        overflow: hidden;
    }

    #page-wrapper .container-fluid .home .box.box-primary .box-header .box-title {
        font-size: 13px;
        white-space: nowrap;
    }

    #page-wrapper .container-fluid .home .box.box-primary .box-header .box-title a {
        font-weight: bold;
    }

    #page-wrapper .container-fluid .home .box.box-primary .box-header .box-title .block {
        display: block;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        padding: 0 16px 0 0;
        margin: 4px 0;
    }

    #page-wrapper .container-fluid .home .box.box-primary .box-header .box-title .block i,
    #page-wrapper .container-fluid .home .box.box-primary .box-header .box-title .block span {
        visibility: hidden;
    }

    #page-wrapper .container-fluid .home .box.box-primary .box-header .box-title .block a {
        font-weight: 500;
    }

    #page-wrapper .container-fluid .home .box.box-primary .box-body .hb-left-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a.special {
        padding: 4px 12px;
        background-color: #1B67AD;
        color: white;
    }

    .target-breadcrumbs,
    .target-view-options {
        display: none;
    }

    .group-list {
        padding: 0;
        margin: 0;
    }

    .group-list li {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 8px;
        border: 1px solid #aaa;
        margin: -1px 0 0 0;
    }

    .group-list li i {
        margin: 0 4px 0 0;
    }

    .group-list li i.question {
        opacity: 0.25;
    }

    .group-list li .buttons {
        display: block;
        margin: 0 0 0 auto;
    }
}

.help {
    padding: 0;
    margin: 0 24px;
}

.help div {
    margin: 0 0 24px 0;
}

.help div .help-text {
    color: #666;
    font-style: italic;
    margin: 8px 0;
}
