<#assign sideMenu>
    <li>
        <span class="first-level"><i class="fa fa-cubes fw"></i> ${i18n("label.groups")}</span>
        <ul class="nav nav-second-level">
            <li class="search">
                <div class="form-search form-group has-feedback has-feedback">
                    <input id="sidebar-group-search" type="text" class="form-control"
                           placeholder="${i18n("label.searchGroup")} ..."/>
                    <i class="form-control-feedback glyphicon glyphicon-search"></i>
                </div>
            </li>
        </ul>
    </li>
</#assign>
<#macro homeLayout title="" >
<#import "../layout/root.ftl.html" as layout>
<@layout.rootLayout i18n("home.title") "${sideMenu}" >
<div class="home">
    <div class="row">
        <#if user.isAdmin()>
            <div class="home-head-panel">
                <#include 'parts/free-space-info.ftl.html'>
                <#include 'parts/task-summary.ftl.html'>
                <#include 'parts/links-and-controls.ftl.html'>
            </div>
        </#if>

        <#if lastRun?? >
            <div class="last-check text-center">
                ${lastRun.getDay()}
                <#if lastRun.status != "DONE_SUCCESS" >
                    (<a class="text-danger"
                        href="${reverseRoute("admin.TaskController","tasks")}">${i18n("home.taskFailure")}</a>)
                </#if>
            </div>
            <#if hasTarget >
                <#nested>
            <#else>
                <div class="text-center" style="margin-top: 100px;">
                    <h1>${i18n("home.noTarget")}</h1>
                </div>
            </#if>
        <#else>
            <div class="text-center" style="margin-top: 100px;">
                <h1>inteligenciaseo.com</h1>
                <br/><br/>
                <img src="/assets/img/inteligenciaseo.png"/>
                <br/><br/>
                <h3><#noescape>${i18n("home.quickStart")}</#noescape></h3>
            </div>
        </#if>
    </div>
    <div class="csp-script" data-src="HomeController.home"></div>
    </@>
    </#macro>
